#target_version_graph { clear: both; }

.line1 { stroke: #009900 !important; } .fill1 { fill: none !important; } .key1 { fill: #009900 !important; }
.line2 { stroke: #000099 !important; } .fill2 { fill: none !important; } .key2 { fill: #000099 !important; }
.line3 { stroke: #666666 !important; } .fill3 { fill: none !important; } .key3 { fill: #666666 !important; }

.fill1, .fill2, .fill3 { fill-opacity: 0.6 !important; }
.line1, .line2, .line3 { stroke-width: 2px !important; }

.dataPoint1, .dataPoint2, .dataPoint3 { display: none !important; }
.dataPoint4 { stroke: #AA5050 !important; stroke-width: 10px !important; }
.key4 { fill: #AA5050 !important; }

.guideLines { stroke-opacity: 0.2 !important; }
